# When in need, check documentation https://github.com/BigWigsMods/packager/wiki/GitHub-Actions-workflow

name: Package and release

on:
  pull_request:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:

      - name: Clone project
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # required for changelog

      - name: Package
        uses: BigWigsMods/packager@v2
        with:
          args: -d -r ".release"
      
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: ".release"
